body{
    font-family: Verdana, sans-serif;
    background: url(/home/tshuvalova/projects/ruby-fs/tasks/09.10/images/three-bg.jpg) top left no-repeat;
    color: #dddddd;
    opacity: 0.93;
}
h1:first-letter{
    color: #024539;
}
p:first-line{
    text-decoration: overline;
}
a:hover{
    color: rgba(249, 202, 216, 0.8);
    font-weight: bold;
}
a{
    color: rgba(255, 115, 115, 1);
    text-decoration: none;
}
nav{
    color: #649987;
    text-decoration: underline;
}
nav a{
    color: #b49191;
}
h1{
    text-shadow: 1  px 2px 2px red;
}
h1, h2, h3{
    color: #fff;
}
ol{
    list-style: none;
}
fieldset input{
    display: block;
}
.income{
    display: inline;
}
#red{
    height: 100px;
    width: 100px;
    background: radial-gradient(ellipse at top left, yellow, red);
    border-radius: 50%;
    box-shadow: 3px 3px 13px yellow;
    border: 2px solid orange;
}
#red:hover{
    transform: translate(20px);
}
input[type="submit"]{
    height: 40px;
    box-shadow: inset 10px 10px 10px red;
}
#about img{
    opacity: 0.75;
}
textarea[name=feedback]{
    background: linear-gradient(to bottom, white, blue);
    opacity: 0.8;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 10px 10px 20px yellow;
    border: 4px solid white;
}
.crazyshapes{
    width: 100px;
    height: 100px;
    background-color: rgba(100,100,100,0.9); 
    float: left;
    padding: 10px;
    margin: 10px;
}
.clear{
    clear: both;
    height: 20px;
}

.cs1{
    border-radius: 15px;
    background: radial-gradient(circle at center, #C11C1C, #6cc11c);
    opacity: 0.86;
}

.cs2{
    border-radius: 50%;
    box-shadow: 5px 5px 20px 20px #c1801c;
    font-size: 11px;
    text-align: center;
    font-weight: bold;
    background-color: #491269;
}
.cs2:hover{
    text-transform: uppercase;
    transform: translateY(20px);
}
.cs3{
    background: linear-gradient(45deg, red, yellow);
    transform: rotate(45deg);
    margin: 25px;
}
.cs4{
    border-radius: 50%;
    background: radial-gradient(ellipse at top left, #6d1a9c, #df5fe7);
    border: 3px solid white;
    box-shadow: 5px 5px 30px 5px white;
}

.cs4:hover{
    transform: scale(0.5);
}

.cs5{
    background-color: #0831c3;
    border: 3px dashed #21c308;
    transform: skewX(-20deg);
    margin: 20px; 
}

.cs6{
    background: radial-gradient(circle at center, black, red); 
    border-radius: 40%;
    box-shadow: 5px 5px 30px 5px black;
}

.cs6:hover{
    transform: rotate(30deg) scale(1.3);
}

.cs7{
    background: radial-gradient(ellipse at center, #c108c3, #7fc308);
    transform: rotate(45deg) skew(10deg);
    margin: 25px;
    box-shadow:  5px 5px 30px 5px green;   
}

.cs8{
    border-radius: 10px;
    transform: skew(20deg) rotate(30deg);
    background: radial-gradient(circle at center, #e37e47, red);
    box-shadow: inset -5px -5px 10px 0px #333,
        10px 10px 5px 0px #33CCFF;
    transition-property: all;
    transition-delay: 0;
    transition-timing-function: ease;
    transition-duration: 1s;
}

.cs8:hover{
    background: radial-gradient(circle at center, black, red); 
    box-shadow:  5px 5px 30px 5px green;
    transform: rotate(-20deg);   
}